header {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
  border-bottom-style: dotted;
  border-bottom-color: #1f2f33;
  background-image: radial-gradient(
    circle at 87.5% 12.5%,
    #b8f6ff 0,
    #9debfa 12.5%,
    #7edef5 25%,
    #58d0f1 37.5%,
    #0cc1ed 50%,
    #00b2ea 62.5%,
    #00a3e7 75%,
    #0096e5 87.5%,
    #0089e2 100%
  );
}

.ms-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ms-logo-container img {
  width: 235px;
}

.ms-logo-container p {
  font-size: 14px;
  font-weight: 300;
}
